html
	head
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
		link(href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet")
		script(type="text/javascript", src="//platform.linkedin.com/in.js").
			api_key: 78xhz4xgziog5d
			authorize: [true]

		title Home
	body
		include navbar.pug
		.container
			.spacer
				div(class="homeBar") 
					form(class="homeSearch")
						input(type='text' id='searchBar' placeholder='Where are you?')
						p(class='slogan') Lets network
				img(src="images/map1.png" id="map1")

		script.
			$(document).ready(function() {
				console.log ("Ready")
				var timeOut = Date.now()			
				if (true){
					timeOut =Date.now()
					$("#searchBar").keyup(function(e) {

					var peter = $("#searchBar").val()	
					console.log(peter)			
					console.log(e.which)
						if (e.which == 13){
							console.log("Press Enter" + e.which)
						}
						else if (peter.length > 0) {
							console.log("It works:" + peter)
							$.ajax({ /*AJAX for searchbar cities*/
								type: "POST",
								url: "/",
								data: {searchData: peter},
								dataType: "json",
								success: function(result){
									$( "#searchBar" ).autocomplete({

										source: result.search
									})
								},
								error: function(err){
									console.log(err)
								}

							})//ajax2
						}//elseif
					})//keyup
				}//timeout
			})	